
.ivy-tabs-tablist ul {
  display: block;
  list-style: none;
  margin: 1.5rem 0 0 0;
  padding: 0;
}

.ivy-tabs-tablist li {
  display: inline-block;
  margin-bottom: 0;
}

.ivy-tabs-tab {
  border-radius: 0.25rem 0.25rem 0 0;
  border-width: 2px;
  border-color: #fff;
  padding: 8px;
  color: #3d4852;
  text-decoration: none;
  background-color: #eee;
}

.ivy-tabs-tab:hover,
.ivy-tabs-tab:focus {
  background-color: #f1f5f8;
}

.ivy-tabs-tab.active {
  background-color: #fff;
  border-color: #eee;
}

[aria-hidden="true"] {
  display: none;
}

.docs-md td {
  padding: 1px 8px 1px 1px;
}

.docs-md aside {
  font-size: 1rem;
  background: #fef7e0;
}
