{{#if (has-block)}}
  {{yield (hash
    tag=(component 'dfp-ad.tag'
         target=target
         slotClassNames=slotClassNames
        )
    isEmpty=this.isEmpty
    width=this.width
    height=this.height
  )}}
{{else}}
  <div id={{target}} class={{slotClassNames}}></div>
{{/if}}